// Input & Textarea
input:not([type='radio'], [type='checkbox']),
textarea {
	@apply mt-2 block w-full resize-none rounded-2xl bg-primary-lightest px-4 py-1.5 focus:bg-primary-lightest focus:outline-none focus:ring-2 focus:ring-primary-light;
}
textarea {
	&::-webkit-scrollbar {
		@apply w-2.5;
	}
	&::-webkit-scrollbar-track {
		@apply my-3;
	}
	&::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-gray-400 hover:bg-primary;
	}
}

// Radio
input[type='radio'] {
	appearance: none;
	@apply relative m-2 inline-block h-8 w-8 cursor-pointer rounded-full ring-0 ring-gray-700/50 dark:ring-gray-100/50 dark:ring-offset-gray-700;
	&:checked {
		@apply ring-2 ring-offset-2;
	}
	&:focus {
		@apply outline-none ring-gray-700 dark:ring-gray-100;
	}
	&::after {
		content: '';
		@apply absolute block h-full w-full rounded-full bg-gradient-to-tr from-gray-100/50 to-white/0;
	}
}

// Switch
input[type='checkbox'] {
	@apply hidden;
	& + .toggle {
		@apply relative my-4 block cursor-pointer select-none rounded-full bg-gray-400;
		width: 3rem;
		height: 1.6rem;
		transition: background 0.1s ease-in-out;
		&::before {
			@apply absolute block rounded-full bg-white;
			content: '';
			width: 1.2rem;
			height: 1.2rem;
			left: 0.2rem;
			top: 0.2rem;
			transition: all 0.2s ease-in-out;
		}
	}
	&:checked + .toggle {
		@apply bg-primary;
		&::before {
			left: 1.6rem;
		}
	}
}
