.dropdown {
	@apply relative;
	&-btn {
		@apply bg-transparent whitespace-nowrap p-1 leading-4 border-2 text-gray-700 border-gray-700 rounded-full select-none hover:text-gray-300 hover:border-gray-300 focus:outline-none focus:ring-gray-500 focus:ring-2;
	}
	&-open &-btn {
		@apply bg-rose-500 text-white border-rose-500 shadow-lg hover:bg-rose-300 hover:border-rose-300 focus:ring-rose-300 focus:text-white;
		&:active {
			@apply ring-rose-500;
		}
	}
	&-title {
		@apply font-bold p-2 leading-3 pointer-events-none;
	}
	&-menu {
		@apply z-10 absolute p-2 bg-gray-800 text-white rounded-2xl shadow-lg right-0 w-32 mt-2 select-none;
	}
	&-item {
		@apply block px-2 py-1 mb-2 text-sm font-semibold bg-transparent rounded-full w-full text-center select-none hover:bg-rose-500 focus:outline-none 
	 focus:ring-2 focus:ring-rose-500 last:mb-0;
		&:active {
			@apply ring-rose-300;
		}
		&-border {
			@apply relative mt-4;
			&::before {
				content: '';
				height: 2px;
				top: -9px;
				@apply w-full pointer-events-none bg-white bg-opacity-20 absolute right-0 rounded-full;
			}
		}
	}
}
