.input {
	@apply w-full mt-2 px-4 py-1.5 bg-primary-lightest rounded-2xl block focus:outline-none focus:ring-2 focus:ring-primary-light focus:bg-primary-lightest resize-none;
	&-label {
		@apply mt-4 font-medium block;
		span {
			@apply text-primary;
		}
	}
	&-error {
		border-radius: 1.25rem;
		@apply mt-2 mx-2 px-2 bg-primary py-1 shadow-md text-white capitalize font-semibold text-sm leading-7 truncate;
	}
}

textarea.input {
	&::-webkit-scrollbar {
		@apply w-2.5;
	}
	&::-webkit-scrollbar-track {
		@apply my-3;
	}
	&::-webkit-scrollbar-thumb {
		@apply rounded-lg bg-gray-400 hover:bg-primary;
	}
}

input[type='radio'] {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@apply h-8 w-8 m-2 relative inline-block cursor-pointer rounded-full ring-0 ring-gray-700/50 dark:ring-gray-100/50 dark:ring-offset-gray-700;
	&:checked {
		@apply ring-2 ring-offset-2;
	}
	&:focus {
		@apply outline-none ring-gray-700 dark:ring-gray-100;
	}
	&::after {
		content: '';
		@apply block absolute rounded-full h-full w-full bg-gradient-to-tr from-gray-100/50 to-white/0;
	}
}

// Whitout Appearance (Need to Add Label and Span)

// .radio {
// 	@apply w-8 h-8 m-1.5 relative inline-block cursor-pointer;
// 	span {
// 		@apply w-full h-full rounded-full block;
// 		&::after {
// 			content: '';
// 			@apply absolute top-0 left-0 w-full h-full rounded-full bg-gradient-to-tr from-gray-100/50 to-black/0;
// 		}
// 	}
// 	input[type='radio'] {
// 		@apply w-full h-full hidden;
// 		&:checked + span {
// 			@apply ring-2 ring-gray-700 ring-offset-2 dark:ring-offset-gray-700 dark:ring-gray-100;
// 		}
// 	}
// }
